{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="{% static 'contact.css' %}">
</head>
<body>
    <section class="contact-address-area">
        <div class="container">
            <div class="sec-title-style1 text-center max-width">
                <div class="title">Contact Us</div>
                <div class="text"><div class="decor-left"><span></span></div><p>Quick Contact</p><div class="decor-right"><span></span></div></div>
                <div class="bottom-text">
                    <p>
                        Ask us how we can:<br>
                        
                            • Show you how the Smart Planning platform is accelerating decision making and turning response time to real time.<br>
                            • Show you how to reap the benefits of predictive analytics, artificial intelligence (AI), machine learning and cognitive computing.<br>
                            • Show you how RPA can reduce processing costs by up to 80%.Show you how organizations can succeed in Digital transformation Journey
                        
                        </p>
                </div>
            </div>
                    <div class="contact-address-box row">
                        <!--Start Single Contact Address Box-->
                        <div class="col-sm-4 single-contact-address-box text-center">
                            <div class="icon-holder">
                                <span class="icon-clock-1">
                                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span>
                                </span>
                            </div>
                            <h3>Bangalore, India </h3>
                            <h2>
                                DataPMI AI LLP 
                            <br>No 35 Davalath <br> Sampige Road
                               <br> Malleshwaram  Bangalore <br> 560003</h2>
                        </div>
                        <!--End Single Contact Address Box-->
                        <!--Start Single Contact Address Box-->
                        <div class="col-sm-4 single-contact-address-box main-branch">
                            <h3>
                                Kochi, India
                                </h3>
                            <div class="inner">
                                <ul>
                                    <li>
                                        <div class="title">
                                            <h4>Address:</h4>
                                        </div>
                                        <div class="text">
                                            <p>
                                                DataPMI Technologies LLP, <br>2nd Floor,
                                                SBC-1, <br>Thapasya Infopark, Kakkanad,
                                                Kochi, Kerala -682042
                                                </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="title">
                                            <h4>Ph & Mail:</h4>&nbsp;&nbsp;
                                        </div>
                                        
                                        <div class="text">
                                            <p>&nbsp;&nbsp;04842333558<br> <br>&nbsp;&nbsp;finance@datapmi.com</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="title">
                                            <h4>Office Hrs:</h4>
                                        </div>
                                        <div class="text">
                                            <p>&nbsp;&nbsp;Mon-Fri: 9:30am - 6:30pm<br><br> &nbsp;&nbsp;Sat-Sun: Closed</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End Single Contact Address Box-->
                        <!--Start Single Contact Address Box-->
                        <div class="col-sm-4 single-contact-address-box text-center">
                            <div class="icon-holder">
                                <span class="icon-question-2">
                                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                </span>
                            </div>
                            <h3>Texas, USA</h3>
                            <h2> DataPMI  
                                <br>No.5225 
                                <br>LAS COLINAS 
                                <br>BLVD Suite 
                                <br>4093
                                IRVING, TX 75039</h2
                        </div>
                        <!--End Single Contact Address Box-->
            </div>
        </div>
    </section>  
    <!--End Contact Address Area-->  
     
    <!--Start contact form area
    <section class="contact-info-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="sec-title-style1 float-left">
                                    <div class="title">Send Your Message</div>
                                    <div class="text"><div class="decor-left"><span></span></div><p>Contact Form</p></div>
                                </div>
                                <div class="text-box float-right">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                </div>
                            </div> 
                        </div>   
                        <div class="inner-box">
                            <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="input-box">   
                                                    <input type="text" name="form_name" value="" placeholder="Name" required="">
                                                </div> 
                                                 <div class="input-box"> 
                                                    <input type="text" name="form_phone" value="" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="input-box"> 
                                                    <input type="email" name="form_email" value="" placeholder="Email" required="">
                                                </div>
                                                <div class="input-box"> 
                                                    <input type="text" name="form_website" value="" placeholder="Website">
                                                </div> 
                                            </div>  
                                        </div> 
                                        <div class="row">
                                             <div class="col-xl-12">
                                                <div class="input-box"> 
                                                    <input type="text" name="form_subject" value="" placeholder="Subject">
                                                </div>     
                                            </div> 
                                        </div>   
                                    </div>
                                    <div class="col-xl-6 col-lg-12">
                                        <div class="input-box">    
                                            <textarea name="form_message" placeholder="Your Message..." required=""></textarea>
                                        </div>
                                        <div class="button-box">
                                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                            <button type="submit" data-loading-text="Please wait...">Send Message<span class="flaticon-next"></span></button>    
                                        </div>         
                                    </div> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</body>
</html>